<configuration>
    <property name="LOGS" value="./logs"/>
    <conversionRule conversionWord="threadId" converterClass="com.kapia.jobboard.api.data.util.ThreadIdConverter"/>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>
                <!--
                %d - time and date of the log,
                level - log level,
                %t - thread that generated the log event,
                %threadId - thread id,
                %C{1} - class name of the caller,
                %m - log message,
                %n - new line
                throwable - stack trace of the log event
                -->
                %white(%d{ISO8601}) %highlight(%-5level) [%blue(%threadId)/%t] %magenta(%C{1}): %msg%n%throwable
            </Pattern>
        </encoder>
    </appender>
    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/production-logger.log</file>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/production-logger-%d.%i.log</fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder
                class="ch.qos.logback.classic.encoder.JsonEncoder">
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="Console"/>
    </root>
</configuration>